@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations

@*<Animate Animation="Animations.Fade" DurationMs="300">*@
<div id="menu" class="bg-primary">
    <div id="header">
        <ul class="header-list">
            <li id="hamburger" style="font-weight:600; top:12px;font-size:larger; cursor:pointer" class="oi oi-menu" @onclick="@Toggle"></li>
            <li class="right-header list tour">
                <a href="https://whatpwacando.today/" target="_blank">and more ...</a>
            </li>
            <li class="right-header list tour">
                <a href="https://www.europeanbusinessreview.com/how-progressive-web-app-will-gain-more-demands-in-the-future/" target="_blank">and more ...</a>
            </li>
            <li class="right-header list support">
                <a href="https://www.simicart.com/blog/what-is-progressive-web-app/" target="_blank">Read more ...</a>
            </li>
        </ul>
    </div>
</div>
@*</Animate>*@

<div id="sidebar" class="bg-primary">
    <SfSidebar ID="side" HtmlAttributes="@HtmlAttribute" @bind-IsOpen="@SidebarOpen" Target=".main-content" Width="220px" @ref="Sidebar"
               CloseOnDocumentClick="true" Animate="true" EnableGestures="true" ShowBackdrop="false" Type="SidebarType.Over">
        <ChildContent>
            <div class="container p-2 mb-3 bg-light text-dark text-center">
                <h5>Blazor Wasm template</h5>
                <p>This sample helps Your to start new project</p>
            </div>

            <ul class="nav flex-column" style="margin-top:20px;">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="@Toggle">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter" @onclick="@Toggle">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata" @onclick="@Toggle">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
            </ul>
        </ChildContent>
    </SfSidebar>
</div>

<div id="maintext" style="display:block;">
    <Animate Animation="Animations.Fade" DurationMs="900">
        @Body
    </Animate>
</div>

<style>

    /* Style for hyperlinks */
    a, a:active, a:hover,a:visited {
        text-decoration: none;
    }
    /* Common styles for header */
    #header {
        background-color: inherit;
        color: white;
        height: 50px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    /*Styles for header*/
    #hamburger {
        float: left;
    }

    #header .right-header {
        height: 35px;
        padding: 7px;
        float: right;
    }

    #header .list {
        list-style: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 35px;
    }

    #header .header-list {
        padding-left: 15px;
        margin: 0;
    }
    /* end of  styles for header*/

    /* content area styles */
    #maintext {
        height: 100vh;
        margin: 20px;
        margin-top:60px;
    }

    /*    .content {
            padding: 20px;
  }   */

    #sidebar {
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 1000;
    }

    @@media(min-width:800px) {
        #maintext {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a, a:active {
        color: #ffffff
    }

        a:active {
            color: gold;
        }

        a:hover {
            color: gold;
        }

    .e-sidebar {
        background: inherit;
    }

    .header-section {
        background: deepskyblue;
    }
    /* end of content area styles */

    /* menu styles */
    .sidebar-menu .action-btn {
        background-color: #1784c7;
    }
    /*end of button styles */

    /* custom code start */
    .center {
        text-align: center;
        display: none;
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
    }

    .nav-link {
        font-size: 1.2em;
        margin-top: 16px;
        display: block;
        padding: .5rem 1rem;
    }

    .e-sidebar.e-visibility {
        top: 0;
    }

    .col-md-12, body {
        padding: 0;
    }

    .sidebar-menu {
        margin-left: -1px;
        position: fixed;
        top: 50px;
    }
</style>

@code
{
    #region
    SfSidebar Sidebar;
    public Orientation Orientation = Orientation.Horizontal;
    public Orientation VerOrientation = Orientation.Vertical;
    public bool SidebarOpen = false;
    private bool isSidebarOpen;

    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
{
            {"class", "sidebar-menu" }
        };

    protected override void OnInitialized()
    {
    }

    public void Toggle()
    {
        SidebarOpen = !SidebarOpen;
    }
    #endregion
}
